@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{margin: 0;
padding: 0;}
body {font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;}

/* we can delete container margin or align-content and justify-content if we want the design be in the center of the page */

.container {max-width: 360px;
margin: 0 auto;}

.card { background-color: hsl(0, 0%, 100%);
margin: 0 1em;
padding:18px ;
border-radius: 17px;
text-align: center;}

.card img {width: 100%;
border-radius: 12px;}

.text {padding: 22px 10px;}

.text h2 { color: hsl(218, 44%, 22%);
padding-bottom: 15px;}

.text p{
    color: hsl(220, 15%, 55%);}